.flexslider{width:100%;margin:0;padding:0;}
.flexslider .slides li{display:none;}
.flexslider .slides img{display:block;}
.mainslider{border:1px solid #dbdbdb;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;float:left;padding:10px;}
.flexslider{background:#fff;position:relative;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;width:448px;height:380px;float:left;}
.flexslider ul{float:left}
.flexslider ul li{float:left;}
.flexslider .slides li{position:relative;}
.flexslider-container{position:relative;}
.flex-caption{width:96%;padding:2%;position:absolute;left:0;bottom:0;background:rgba(0,0,0,.3);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.3);font-size:15px;line-height:18px;}
.flex-direction-nav li a{width:45px;height:52px;margin:-13px 0 0;display:none;background:url(../images/bg_direction_nav.png) no-repeat 0 0;position:absolute;top:37%;cursor:pointer;text-indent:-9999px;}
.flex-direction-nav li a.next{background-position:-33px 0;right:-23px;}
.flex-direction-nav li a.prev{background-position:22px 0;left:-23px;}
.flex-control-nav{margin-left:-31px;position:absolute;bottom:-30px;left:50%;}
.flex-control-nav li{margin:0 0 0 5px;float:left;}
.flex-control-nav li:first-child{margin:0;}
.flex-control-nav li a{width:13px;height:13px;display:none;background:url(../images/bg_control_nav.png) no-repeat 0 0;cursor:pointer;text-indent:-9999px;}
.flex-control-nav li a:hover{background-position:0 -13px;}
.flex-control-nav li a.active{background-position:0 -26px;cursor:default;}
.bubble-container{border-width:1px;border-style:solid;border-color:#E0DDDD #D9D8D8 #D2D2D2;padding:10px;float:left;position:relative;background:#F9F9F9;background:-webkit-gradient(linear,center top,center bottom,from(#FEFEFE),to(#F9F9F9));background:-moz-linear-gradient(top,#FEFEFE,#F9F9F9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe',endColorstr='#fff9f9f9',GradientType=0);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:inset 0 0 2px 2px #fff,0 1px 0 rgba(127,127,127,0.1);-o-box-shadow:inset 0 0 2px 2px #fff,0 1px 0 rgba(127,127,127,0.1);-moz-box-shadow:inset 0 0 2px 2px #fff,0 1px 0 rgba(127,127,127,0.1);-webkit-box-shadow:inset 0 0 2px 2px #fff,0 1px 0 rgba(127,127,127,0.1);}
.ss_details_top{margin-bottom:1px;width:100%;}
.ss_location{font-size:14px;}
.slideshow_item_details_text{float:left!important;padding:6px 6px 6px 11px!important;text-align:left!important;width:428px!important;margin-top:10px!important;font-size:13px!important;min-height:57px;}
.explore_world_slider_class{font-size:15px;}
.ss_details_top a{text-decoration:none;font-size:13px;font-weight:bold;}
.ss_details_bottom{width:100%;color:#777;text-align:left!important;font-size:13px!important;font-weight:bold;}