/* 
    Document   : newCascadeStyleSheet
    Created on : Jan 17, 2012, 3:18:36 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

