<?xml version="1.0"?>
<config>
    <modules>
        <Apptha_Paypaladaptive>
            <version>0.1.0</version>
        </Apptha_Paypaladaptive>
    </modules>  
    <frontend>
        <routers>
            <paypaladaptive>
                <use>standard</use>
                <args>
                    <module>Apptha_Paypaladaptive</module>
                    <frontName>paypaladaptive</frontName>
                </args>
            </paypaladaptive>
        </routers>  
        <layout>
            <updates>
                <paypaladaptive>
                    <file>adaptive.xml</file>
                </paypaladaptive>
            </updates>
        </layout>
        <translate>
            <modules>
                <Apptha_Paypaladaptive>
                    <files>
                        <default>Apptha_Paypal.csv</default>
                    </files>
                </Apptha_Paypaladaptive>
            </modules>
        </translate>       
    </frontend>
    
    <global>                      
        <blocks>
            <paypaladaptive>
                <class>Apptha_Paypaladaptive_Block</class>
            </paypaladaptive>
        </blocks> 
        <helpers>
            <paypaladaptive>
                <class>Apptha_Paypaladaptive_Helper</class>
            </paypaladaptive>
        </helpers>
        <resources>
            <paypaladaptive_setup>
                <setup>
                    <module>Apptha_Paypaladaptive</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paypaladaptive_setup>
            <paypaladaptive_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paypaladaptive_write>
            <paypaladaptive_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paypaladaptive_read>
        </resources>
        <models>                                  
            <paypaladaptive>  
                <class>Apptha_Paypaladaptive_Model</class>
                <resourceModel>paypaladaptive_mysql4</resourceModel>
            </paypaladaptive>
            <paypaladaptive_mysql4>
                <class>Apptha_Paypaladaptive_Model_Mysql4</class>
                <entities>              
                    <paypaladaptivedetails>
                        <table>paypaladaptivedetails</table>
                    </paypaladaptivedetails> 
                    <refunddetails>
                        <table>paypaladaptiverefunddetails</table>
                    </refunddetails> 
                    <productdetails>
                        <table>paypaladaptiveproductdetails</table>
                    </productdetails> 
                    <commissiondetails>
                        <table>paypaladaptivecommissiondetails</table>
                    </commissiondetails>  
                    <preapprovaldetails>
                        <table>paypaladaptivepreapproval</table>
                    </preapprovaldetails>                           
                </entities>                
            </paypaladaptive_mysql4>            
        </models> 
        <events> 
            <sales_order_creditmemo_refund>
                <observers>
                    <paypaladaptive>
                        <type>singleton</type>
                        <class>paypaladaptive/observer</class>
                        <method>adaptiveRefundAction</method>
                    </paypaladaptive>
                </observers>
            </sales_order_creditmemo_refund>
        </events>                                      
    </global>
    
    <admin>
        <routers>
            <paypaladaptiveadmin>
                <use>admin</use>
                <args>
                    <module>Apptha_Paypaladaptive</module>
                    <frontName>paypaladaptiveadmin</frontName>
                </args>
            </paypaladaptiveadmin>
        </routers>
    </admin>
    <adminhtml>        
        <translate>
            <modules>
                <Apptha_Paypaladaptive>
                    <files>
                        <default>Apptha_Paypal.csv</default>
                    </files>
                </Apptha_Paypaladaptive>
            </modules>
        </translate>        
        <menu> 
            <sales>       
                <children>             
                    <paypaladaptive module="paypaladaptive">
                        <title>Apptha Paypal Adaptive</title>
                        <sort_order>10</sort_order>
                        <children>                 
                            <paymentdetails module="paypaladaptive">
                                <title>Payment Details</title>
                                <sort_order>1</sort_order>
                                <action>paypaladaptiveadmin/adminhtml_paymentdetails</action>
                            </paymentdetails>  
                            <refunddetails module="paypaladaptive">
                                <title>Refund Details</title>
                                <sort_order>2</sort_order>
                                <action>paypaladaptiveadmin/adminhtml_refunddetails</action>
                            </refunddetails>  
                             <preapprovaldetails module="paypaladaptive">
                                <title>Pending Payment (Preapproval Chained Method)</title>
                                <sort_order>3</sort_order>
                                <action>paypaladaptiveadmin/adminhtml_preapprovaldetails</action>
                             </preapprovaldetails>                 
                        </children>
                    </paypaladaptive>
                </children> 
            </sales>
             
        </menu>  
        <layout>
            <updates>
                <paypaladaptive>
                    <file>adaptive.xml</file>
                </paypaladaptive>
            </updates>
        </layout>        
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <paypaladaptive>
                        <type>singleton</type>
                        <class>paypaladaptive/observer</class>
                        <method>customProductTabs</method>
                    </paypaladaptive>
                </observers>
            </core_block_abstract_prepare_layout_after>
             
            <catalog_product_save_after>
                <observers>
                    <paypaladaptive>
                        <type>singleton</type>
                        <class>paypaladaptive/observer</class>
                        <method>saveProductTabData</method>
                    </paypaladaptive>
                </observers>
            </catalog_product_save_after>
        </events>
        
    </adminhtml>    
    <crontab>
        <jobs>
            <paypaladaptive_observer>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>paypaladaptive/observer::preapprovalPay</model>
                </run>
            </paypaladaptive_observer>
        </jobs>
    </crontab>  
    <default>
        <payment>
            <paypaladaptive>
                <active>1</active>
                <model>paypaladaptive/payment</model>
                <order_status>Processing</order_status>
                <title>Paypal Adaptive Payment</title>
                <order_status>pending</order_status>
            </paypaladaptive>
        </payment>
    </default>
</config>
