<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Onestepcheckout
 * @version     0.1.9
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 * */
 -->
<config>
     <tabs>
        <Apptha translate="label" module="onestepcheckout">
           <label>Apptha</label>
           <sort_order>200</sort_order> 
        </Apptha>
    </tabs>
    <sections>
        <onestepcheckout translate="label">
              <label>Apptha One Step Checkout</label>
              <tab>Apptha</tab>
              <frontend_type>text</frontend_type>
              <sort_order>1000</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
        <groups>
            <general translate="label" >
                <label>General</label>
                <frontend_type>text</frontend_type>
              <sort_order>100</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            <fields>
                        
                         <Allow_guest_checkout translate="label">
                            <label>Allow Guest Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </Allow_guest_checkout>
                        
                          <default_country_id translate="label">
                            <label>Default Country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_country_id>
                        
                        <default_shipping_method translate="label">
                            <label>Default Shipping Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/allshippmethods</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_shipping_method>
                        <default_payment_method translate="label">
                            <label>Default Payment Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_payment_allowedmethods</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_payment_method>
                         
                         <Activate_apptha_discount translate="label">
                            <label>Activate Discount Coupon</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </Activate_apptha_discount>
                        
                         <enable_geoip translate="label">
                            <label>Enable GeoIP</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_geoip>
                        
                        <geoip_database translate="label">
                            <label>GeoIP database</label>
                            <frontend_type>text</frontend_type>
                            <!-- <source_model>onestepcheckout/yesno</source_model>  -->
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Database Path: GeoIp/GeoLiteCity.dat</comment>
                        </geoip_database>
                        
                        <geoip_link translate="label">
                        <frontend_type>link</frontend_type>
                         <sort_order>10</sort_order>
                         <show_in_default>1</show_in_default>
                         <show_in_website>1</show_in_website>
                         <show_in_store>1</show_in_store>
                         <comment><![CDATA[<a href="http://www.maxmind.com/app/city" target="_blank">]]>Click here to get GeoIp database<![CDATA[</a>]]></comment>
                        </geoip_link>
                        
                        <checkout_title translate="label">
                            <label>Checkout Title:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkout_title>
                        
                        <checkout_description translate="label">
                            <label>Checkout Description:</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkout_description>
                      </fields>
                  </general>
                <!-- New groups go here -->
                 <display_option translate="label comment">
                    <label>Choose Fields To Exclude / Include</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>120</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <display_company translate="label">
                            <label>Exclude Company</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_company>
                        <display_address translate="label">
                            <label>Exclude Address</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_address>
                        <display_country translate="label">
                            <label>Exclude Country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_country>
                        <display_state translate="label">
                            <label>Exclude State</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_state>
                        <display_city translate="label">
                            <label>Exclude City</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_city>
                        <display_zipcode translate="label">
                            <label>Exclude Zip Code / Postal Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_zipcode>
                        <display_telephone translate="label">
                            <label>Exclude Telephone</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_telephone>
                        
                        <display_fax translate="label">
                            <label>Exclude Fax</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_fax>
                        
                        <display_comments translate="label">
                            <label>Enable Comments</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_comments>
                        </fields>
                 </display_option>
                 <ajax_update translate="label comment">
                    
                    <label>Automatic Shipping / Payment Updates</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>180</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_ajax_save_billing translate="label">
                            <label>Enable automatic shipping / payment updates</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                             <comment><![CDATA[If Shipping Address is different activate this.]]></comment>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_ajax_save_billing>
                        <ajax_save_billing_fields translate="label">
                            <label>Choose the fields for automatic update</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>onestepcheckout/onestepcheckout</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ajax_save_billing_fields>
                        
                    </fields>
                </ajax_update>
                <terms translate="label comment">
                    <label>Terms and conditions</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_terms translate="label">
                            <label>Enable Terms</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_terms>
                        <terms_title translate="label">
                            <label>Terms and conditions title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </terms_title>
                        <terms_contents translate="label">
                            <label>Terms and conditions content (HTML Format)</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </terms_contents>
                    </fields>
                </terms>
                <feedback translate="label comment">
                    <label>How did you hear about us?</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>220</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_feedback translate="label">
                            <label>Enable field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_feedback>
                        <enable_feedback_freetext translate="label">
                            <label>Enable Other field</label>
                            <comment>If enabled users can type free text and "Other ..." value will be added to dropdown</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_feedback_freetext>

                        <feedback_values>
                            <label>Values</label>

                    <frontend_model>onestepcheckout/system_config_form_field_feedbackfields</frontend_model>
                    <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Values entered here will appear as labels in feedback dropdown on checkout page</comment>
                        </feedback_values>

                    </fields>
                </feedback>
                 </groups>
        </onestepcheckout>
    </sections>
</config>
